.menu-list__item {
  & > a, & > span {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    box-sizing: border-box;
  }

  & > a:hover {
    color: rgba(255, 255, 255, .75);
  }

  &.active > span {
    color: rgba(255, 255, 255, .75);
  }
}
