@import "item";


.menu {
  flex: 0 0 auto;

  .menu-list {
    display: flex;
    justify-content: flex-end;
    margin: auto -10px;
  }

  &--footer {
    .menu-list {
      @media all and (max-width: 960px) {
        justify-content: flex-start;
      }
    }
  }
}
