@import "list";


.menu {

  &--header {
    @media all and (max-width: 768px) {
      display: none;
    }
  }

  &--mobile {
    .menu-list {
      flex-direction: column;
      margin: 0;

      &__item {

      }

      a {
        display: block;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
