.mobile-slide {
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 55px;
  left: -100vw;
  width: 100vw;
  height: calc(100vh - 55px);
  z-index: 99;
  background-color: #000;
  transition: left .5s ease;

  @at-root .menu-opened & {
    left: 0;
  }

  @media all and (min-width: 768px) {
    display: none;
  }
}