.burger {
  top: 0;
  right: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;

  &__button {
    padding: 0;
    background-color: transparent;
    border: 0;
    height: 30px;
  }

  @at-root .menu-opened & {
    span {
      &:nth-of-type(3) {
        transform: scale(0);
      }

      &:nth-of-type(1) {
        transform: translate(0px, 7px) rotate(45deg)
      }

      &:nth-of-type(5) {
        transform: translate(0px, -7px) rotate(-45deg);
      }
    }
  }

  span {
    display: block;
    width: 100%;
    height: 2px;
    transform-origin: center;
    transition: transform .5s ease;

    &:nth-last-of-type(odd) {
      background-color: #fff;
    }

    &:nth-last-of-type(even) {
      height: 5px;
    }
  }

  @media all and (min-width: 768px) {
    display: none;
  }
}