.item {
  display: block;
  position: relative;
  text-decoration: none;
  color: #000;

  &__preview {
    position: relative;
    padding-bottom: 200px;
    width: 100%;
    display: block;
    overflow: hidden;

    img {
      position: absolute;
      left: 50%;
      width: 100%;
      top: 50%;
      height: auto !important;
      max-width: none !important;
      max-height: none !important;
    }
  }

  &__title {
    //margin-top: 10px;
  }

  &__note {
    margin-top: 10px;
  }

  span {
    display: block;
  }

  .information {
    margin-top: 15px;
  }
}

a.item {
  &:hover {
    .item__preview {
      img {
        transform: scale(1.05);
      }
    }
  }

  &, &:hover {
    .item__preview {
      img {
        transition: transform .15s ease;
      }
    }
  }
}