@import "reset";

html, body {
  height: 100%;
  font-family: 'Bad Script', cursive;
  overflow-x: hidden;

  @at-root .menu-opened & {
    overflow: hidden;
  }
}

main {
  flex: 1;
}
.MuiGrid-item {
  position: relative;
}

header, footer {
  padding: 20px 0;
  background-color: #000;
  display: flex;
  justify-content: center;
}

//.content {
//  min-height: 100vh;
//}

.head-page {
  //padding: 60px;
  padding: 20px 0 80px;
  box-sizing: border-box;
  background-color: #000;

  h1, .description {
    color: #fff;
  }

  .description {
    margin-top: 20px;
  }

  @media all and (max-width: 768px) {
    padding-bottom: 40px;
  }
}

#page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1400px;
  max-width: 100%;
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media all and (max-width: 1400px) {
    width: 100%;
    max-width: 1400px;
  }
}

h1 {
  font-size: 72px;
  line-height: 92px;

  @media all and (max-width: 768px) {
    font-size: 36px;
    line-height: 48px;
  }
}
h2 {
  font-size: 64px;
  line-height: 72px;
}
h3 {
  font-size: 56px;
  line-height: 64px;
}
h4 {
  font-size: 48px;
  line-height: 56px;
}
h5 {
  font-size: 40px;
  line-height: 48px;
}
h6 {
  font-size: 32px;
  line-height: 40px;
}

.title {
  &--h1 {
    font-size: 72px;
    line-height: 80px;
  }
  &--h2 {
    font-size: 64px;
    line-height: 72px;
  }
  &--h3 {
    font-size: 56px;
    line-height: 64px;
  }
  &--h4 {
    font-size: 48px;
    line-height: 56px;
  }
  &--h5 {
    font-size: 40px;
    line-height: 48px;
  }
  &--h6 {
    font-size: 32px;
    line-height: 40px;
  }
}

ol {
  li {
    list-style: decimal;
  }

  ol {
    margin-left: 20px;
  }
}